*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
    font-family: var(--font-poppins-text);
    font-size: 15px;
}
*::selection {
    color: var(--yellow-color);
    background-color: rgba(0, 0, 0, 0.46);
}
:root{
    --primary-background:rgb(201, 210, 220);
    --white-background:rgb(228, 232, 236);
    --primary-color:#363535e9;
    --yellow-color: #f1b64a;
    --font-greate-vibes: 'Great Vibes', cursive;
    --font-crimson-text: 'Crimson Text', serif;
    --font-poppins-text: poppins;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.admin_page1{
    width: 100%;
    padding: 3em;
    background: var(--primary-background);
    display: flex;
    justify-content: end;
    gap: 2em;
    min-height: 100vh;
    position: relative;
}
/* Side bar>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
#user_sidebar{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    padding-block: 2em;
    overflow: auto;
    height: 100%;
    background-color: var(--white-background);
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
#user_sidebar ul a li{
    padding: 1em .8em;
    color: var(--primary-color);
    transition: all .4s;
}
#user_sidebar ul a li:hover{
    color: black;
    background-color: var(--yellow-color);
    padding-inline: 2em;
}
.user_table{
    width: 80%;
    padding-block: 50px;
   
}
.user_heading{
    font-size: 1.5em;
    text-decoration: underline;
}
.table{
    width: 100%;
    box-shadow: 0 0 10px .1px gray;
    background-color: var(--white-background);
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}
table{
    width: 100%;
}
tr{
    text-align: center;
}
td{
    padding: 10px 0;
}
.mainHeader{
    background-color: rgb(113, 110, 110) !important;
    height: 65px;
    position: sticky;
    top: 0;
    left: 0;
}
.mainHeader .logo{
    width: 10% !important;
}
.mainHeader .burger{
    color: white !important;
}