* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

.page {
    padding: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.container{

    min-height: 500px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

.contact{
    min-height: 500px;
    width: 55%;

}
.contact h1{
    color: #e65107;

}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.contact form .contactinput{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 20px;
    display: block;
    width: 100%;
}
.textarea1{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 20px;
    resize: none;
    width: 100%;
}
.submit_btn{
    width: fit-content;
    border: none;
    outline: none;
    padding: 10px 30px;
    background-color: var(--yellow-color);
    border-radius: 10px;
    margin-top: 1em;
    transition: all .3s;
    font-weight: 600;
}
.submit_btn:hover{
    color: white;
    background-color: #e65107;
}
.get {
    min-height: 500px;
    width: 35%;
    background-color: var(--secondary-background-color);
    padding: 2em;
}
.get h1{
    text-align: center;
    font-weight:bold;

}
.get h2{
    font-weight:600;
    color:bisque;    
}
.social{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.social>a>i{
    padding: 10px;
}
@media (max-width:768px){
    .contact{
    width:100%;
    text-align: center;
	padding-bottom:150px;
    }
    .get{
        width:100%;
        text-align: center;
        } 
       
        input[type="submit"] {
            display: flex;
            justify-content: center;
        }
}